/* Dark */

$primaryColor: #adbce6;
$secondaryColor: #5c94cd;
$purple: #470BA9;
$scrollbar-thumb: #111;
$scrollbar-thumb-hover: #373c44;
$dark-charcoal: #333;

/* Light */

$exampleBackground: #cacaca;
$exampleColor: #111;